# Ignore Python virtual environment
venv/
.env

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# VSCode settings
.vscode/

# macOS and system files
.DS_Store
 
# Logs
*.log

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Environment files
.env.*
